<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default suite" guice-stage="DEVELOPMENT">
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Default test" verbose="2">
    <classes>
      <class name="Tests.UserRegisterationTest"/>
      <class name="Tests.ChangePasswordTest"/>
      <class name="Tests.SearchTest"/>
      <class name="Tests.SearchAutoTest"/>
      <class name="Tests.ContactUsTest"/>
      <class name="Tests.SendProductEmailTest"/>
      <class name="Tests.ChangeCurrencyTest"/>
    </classes>
  </test>  
</suite> 